.section-search-banner{
    min-height: 100vh;
    align-items: center;
    display: flex;
    background-image: var(--search-banner-bgimg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


.main__flight-tab{
    background-color: #fff;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 -4px 6px 0 rgb(0 0 0 / 3%);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    padding:1rem 1rem 0rem 1rem;
    margin-bottom: -1px;
}
.first__flight-tab{
    background-color: #fff;
    margin-bottom: 0.25rem;
}
.first_tab_link{
    border-bottom: 4px solid var(--banner-active-color);
    color: var(--banner-active-color);
    padding: 0.5rem 1rem;
    display:flex;
    flex-direction: column;
    text-align: center;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    font-weight: 500;
    background-color: #fff;
}
.tab__title{
    font-size: 14px;
    margin-bottom:0.25rem;
}
.tab__svg{
    color: var(--banner-active-color);
    fill: var(--banner-active-color);

}
.flight__tab_content{
    position: relative;
    box-shadow: 0 1px 10px 0 rgb(20 0 0 / 8%);
}
.tab__body-wrappper{
    display:block;
}
.tab-before_panel::before{    
    content: "";
    position: absolute;
    inset:0;
    margin: 0 -3px -3px 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: linear-gradient(180deg,#fff,var(--banner-active-color));
}
.flight-search_wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0;
    border-radius: 6px;
}
.search_main-flex{
    display:flex;
    flex-direction: column;

}
.main--search{
    width:100%;
    padding:1rem 1rem 1.5rem;
}
.way-select__wrapper{
    margin-bottom:1rem;
    display: flex;
}
.way__input{
    display:none;
}
.way__input-label{
    background: #f3f5f8;
    min-width: 80px;
    cursor: pointer;
    font-weight: 500;
    padding:0.25rem 0.5rem;
    margin-right:0.5rem;
    margin-bottom:0;
    border-radius: 24px;
    font-size: .875rem;
    line-height: 1.5;
    display: inline-block;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    
}
.way__input:checked + label.way__input-label{
    background: var(--banner-active-color);
    color: #fff;
}
.main__flight-search--form{
    width:100%;
    display:flex;
    flex-direction: row;
}
 
.main__flight-search--form > *{
    flex-basis: auto;
}


.search__form-flex{
    display:flex;
    flex-direction: column;
}
.main__city-select-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main__search-select_fields{
    display:block;
}
.first__city-wrapper{
    display: flex;
    position: relative;
    margin-bottom: 1.5rem;
    flex-direction: column;
    padding: 0rem 0.5rem;
}
.search-fields_title{
    margin-bottom:0.25rem;
}
.search__input-group{    
    align-items: center;
    background: #f3f5f8;
    border-radius: 10px;
    margin-right:1rem;
    display: flex;
}
 
.input__field-group{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:0.2em;
    width: 100%;
    padding:0rem 0.5rem;
}
.search--form_input{
    height: 48px;
    background: #f3f5f8;
    border: none;
    padding: 8px;
    color: #222;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    outline: 0;
    box-shadow: none;
    overflow: hidden;
}
.search__input-group.date_picker-group > *{
    flex: 1 1 50%;
}
.search__input-group.date_picker-group .input__field-group{
    padding:0 0 0 0.5rem;
}
.add-return-btn{
    min-width:105px;
}
.btn--add-city{
    background: #ffeef1;
    color: var(--banner-active-color);
    border: 1.3px solid var(--banner-active-color);
    font-weight: 500;
    font-size: 12px;
    padding:0.25rem 1rem;
    border-radius: 24px;
    font-size: .875rem;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
}
.search__input-group.last__input-search{
    align-self: flex-start;
    position: relative;
}
.btn--search-btn{
    background-color: var(--banner-active-color);
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    align-self: flex-start;
    font-size: .875rem;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    color:white;
}
.last__add-city-wrapper{
    width: 100%;
    padding: 1rem 1rem 1.5rem;
    display:none;
}
.main__search-select_fields.second__group{
 display:none;
}
.main__search-select_fields.second__group.show__appended{
    display:block;
}
.not-in-multicity{
    padding:0.25rem;
    margin-right:0.25rem;
    background-color:white;
    border-radius: 50%;
}
.icon-double-arrow{
    width:20px;
    height:14px;
}
.main__economy-dropdown{
    position: absolute;
    min-width: 275px;
    top: 50px;
    left: 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
    background-color: #fff;
    z-index: 99;
    padding:1rem;
}
.main--economy-divider{
    height: 0;
    margin: 1rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}
.age__group-wrapper{
   display: flex;
   align-items: center;
   margin-bottom: 1rem;
}
.age-group_title{
    font-weight: 500;
}
.age-group_title .lightgray{
    color:lightgray;
}
.quantity__wrapper{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.quantity__wrapper .decrement,
.quantity__wrapper .increment{
    width: 26px;
    height: 26px;
    border: 1px solid #222;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    background:none;
    outline:none;
    box-shadow: none;
    cursor: pointer;
}
.quantity__wrapper .count{
    width: 40px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border:0;
}
.input-group_no-margin{
    margin:0;
}
.radio__buttons-wrapper{
    margin-bottom: 1rem;
    display: flex;
    gap:0.5rem;
}
.businestype_input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #fff;
    outline:1px solid black;
    margin:0;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
.businestype_input:checked{
    background: var(--banner-active-color);
}
.businesstype_label{
    display: inline;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.date-with-return{
    max-width:100px;
}
.travel--selector-input{
    max-width:150px;
}
.flight-tab-body svg{
    color:gray;
    fill:gray;
}
.remove--append-btn_wrapper{
    margin:auto;
    cursor:pointer;
}




@media(min-width:769px){
    .add__city-buttton-wrapper.hide.add-city-div{
        display:none !important;
    }
}

@media(max-width:768px){
    .main__flight-search--form{
        flex-direction: column;
    }
    .add__city-buttton-wrapper{
        margin-bottom:1rem;
    }
    .search__input-group.last__input-search{
        margin:0;
        margin-bottom:1rem;
    }
    .search__input-group{
        margin-right:0;
    }
    .search__input-group.first__group{
        margin-bottom:10px;
    }

    .remove--append-btn_wrapper{
        position: absolute;
        right: 10px;
    }
    .last__add-city-wrapper{
        display: none !important;
    }
    .section-search-banner .section--container{
        margin-bottom:2rem;
        margin-top:1rem;
    }



}



@media(max-width:480px){
    
    .add__city-buttton-wrapper button{
      width:100%;
    }
    .search__btn-wrapper button{
      width:100%;
    }
    .search__input-group{
      flex-direction: column;
    }
    .input__field-group{
        justify-content: flex-start;
        background: #f3f5f8;
    }
    .add-return-btn{
        width:100%;
    }
    .search__input-group{
        gap:0.2em;
        background:none;
        border-radius: 0;
    }
    .search__input-group.first__group{
        position: relative;
    }
    .search__input-group.first__group .not-in-multicity{
        position: absolute;
        top: 33%;
        right: 0;
    } 
    .search__input-group.last__input-search{
        width:100%;
        padding:0rem 0.5rem;
    }
    .search__btn-wrapper{
        padding:0rem 0.5rem;
    }
}








@media(min-width:992px){
    .search__form-flex{
        flex-direction: row;
    } 
    .first__city-wrapper{
        flex-direction: row;
    }
    .search-fields_title{
        display:none;
    }
}

@media(max-width:1200px){
    .main__flight-search--form{
        flex-wrap:wrap;
  }
}