.trip-ideas__places{
    display:flex;
    flex-wrap:wrap;
    max-width:1168px;
    margin:auto;
}
.trip-idea_place{
    width: calc( (100% / 3) - 16px );
    display:flex;
    border-radius:8px;
    box-shadow:0 0 4px 0 rgba(39,36,44,.24);
    margin:0 16px 16px 0;
    text-decoration:none;
}
.trip-idea_place img{
    border-radius:8px 0 0 8px;
}
.trip-idea_place .place-idea__detail{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding:16px;
    width:100%;
}
.trip-idea_place .place-idea__detail .place_name{
    font-size:15px;
    font-weight:600;
    color:#27242c;
    margin:0 0 4px 0;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    max-width:196px
}
.trip-idea_place .place-idea__detail .place_country{
   font-size:12px;
   font-weight:400;
   color:#828086;
   margin:0 0 21px 0;
   white-space:nowrap;
   overflow:hidden;
   text-overflow:ellipsis;
   max-width:196px
}
.trip-idea_place .place-idea__detail .place_price-wrapper{
   font-size:19px;
   font-weight:600;
   color:inherit;
}
.trip-idea_place .place-idea__detail .place_price-wrapper .price_for_trip{
   font-size:12px;
   font-weight:400;
   color:#828086;
   line-height:1.67;
   margin:0 0 4px 0;
   white-space:nowrap;
   overflow:hidden;
   text-overflow:ellipsis;
   max-width:196px
}
.trip-idea_place .place-idea__detail .place_price-wrapper .final_price .big-price{
   font-size:19px;
   color:#27242c
}

@media(min-width:620px) and (max-width:1024px){
    .trip-idea_place{
        width: calc( (100% / 2) - 16px );
    }
}
@media (max-width:619px){
    .trip-idea_place{
        width: 100%;
        margin:0px 0px 16px 0px;
    }
    .trip-idea_place .place-idea__detail .place_price-wrapper .price_for_trip,
    .trip-idea_place .place-idea__detail .place_country{
      max-width:unset;
    }
}
