.why-us-section{
    margin-top: 80px;
    margin-bottom: 80px;
    background: var(--why-us-section);
}
.why-us-row{
    display: flex;
    flex-wrap: wrap;
}
.why-us-12{
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.inner-section_padding{
    padding: 3rem 0rem;
}
.why-us-section .section__title{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 1.5rem;
    text-align: center;
}
.why-us-flex{
    display: flex;
    justify-content: space-around;
}
.why-us-flex_item{
    flex: 0 0 20%;
    margin-bottom: 1.5rem;
}
.icon-why-us{
    width:50px;
    height:50px;
    margin-bottom:10px;
}
.flex-item__title{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 0.25rem;
}
.flex-item__rte{
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 0;
}







@media(max-width:768px){
    .why-us-flex{
        flex-wrap:wrap;
        text-align: center;
    }
    .why-us-flex_item{
        flex:1 1 50%;
    }
}

@media(max-width:480px){
    
    .why-us-flex_item{
        flex:1 1 100%;
    }
    .inner .why-us-12{
        padding:0;
    }
}

@media(min-width:769px){
    .why-us-flex_item{
        margin-bottom: 0rem;
    } 
}




















