.destination-card__main{
    display:flex;
    flex-wrap: wrap;
}


.popular-destination-card{
    width:calc( (100% / 4) - 16px  );
    border-radius:.5rem;
    position:relative;
    margin-right:16px;
    margin-bottom:16px;
    background-color:var(--destination-card-bgclr);
    box-shadow:0 1px 4px 0 rgba(39,36,44,.24);
    text-decoration:none;
    color:var(--destination-card-textclr);
}
.popular-destination-card:last-child{
    margin-right:0px; 
}
.popular-destination-card:hover{
    box-shadow:0 2px 8px 0 rgba(39,36,44,.2)
}
.destination-card__wrapper{
    width:100%;
    position:relative;
    border-top-left-radius:.5rem;
    border-top-right-radius:.5rem;
    background:var(--destination-card-bgclr);
}
.destination-card__wrapper img{
    border-top-left-radius:.5rem;
    border-top-right-radius:.5rem; 
}
.route___details{
    position:absolute;
    bottom:0;
    background:rgba(39,36,44,.4);
    color:#ffffff;
    display:flex;
    justify-content: space-between;
    width:100%;
    padding:1rem;
    box-sizing:border-box;
}
.first-text_city,
.second--text_city,
.second--text_country,
.first-text_country{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
.first-text_city,
.second--text_city{
    font-weight:600;
    font-size:15px;
}
.first-text_country,
.second--text_country{
    font-size:12px;
}


.icon-two-way-arrow{

    width:18px;
    height:18px;
    margin:4px 11px 0;
    color:#fff;
    fill:#fff;
}

.discount-pricing_meta{
    padding:1rem;
    position:relative;
}
.price-starting{
    font-size:12px;
    color:#828086;
    display:block;
    margin-bottom:.25rem
}
.pricing{
   font-size:14px;
}
.pricing .price{
    font-size:18px
}
.price-meta-wrapper{
    margin-left:inherit;
    margin-right:.25rem
}
@media (min-width:769px) and (max-width:1280px){
    .popular-destination-card{
        min-width:calc((100% / 3) - 16px);
    }
}
@media (max-width:768px){
    .popular-destination-card{
        min-width:calc((100% / 2) - 16px);
    }
}
@media (max-width:480px){
    .popular-destination-card{
        min-width:100%;
        margin-right:0px;
    }
}