:root{
    --annoucement-bar-bgclr:#d1f2ff;
    --annoucement-bar-textclr: #000000;
    --annoucement-bar-svgclr:#000000;

    --header-bg-clr:#ffffff;
    --header-text-clr:#000000;
    --header-dropdown-bg:#ffffff;

    --search-banner-bgimg:url(https://res.cloudinary.com/wego/image/upload/c_fill,fl_lossy,q_auto:low,w_2560,ar_12:5/v1664956721/web/nto_images/saudi_tourism_1.jpg);
    --banner-active-color:#2f53a4;

   --section-featured-banner-bgclr:#ffffff;

    --link-hover-bgclr:#e9ecef;
    --footer-background-mobile:#fff;
    --why-us-section:#f3f5f8;
    --newslatter-section-bg:#2f53a4;
    --desktop--footer-bg:#1f6bb7;
    --desktop--footer-textclr:#ffffff;
    --footer-copyright-block:#1c73be;
    --footer-copyright-block-textclr:#ffffff;
    
    --destination-card-bgclr:#ffffff;
    --destination-card-textclr: #000000;
}




*,
:after,
:before,
input{
    box-sizing:border-box;
  }
  
  body,
  html{
    padding:0;
    margin:0;
    touch-action:manipulation;
  }
 
  body{
    padding:0;
    margin:0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

  }
  
  body,
  html{
    background-color:#fff;
    color:#1c1d1d;
  }
  
  .main-content{
    max-width:1800px;
    margin:auto;
  }
  body.active-mobile-menu{
    overflow:hidden;
  }

  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  nav,
  section,
  summary{
    display:block;
  }
  
  audio,
  canvas,
  progress,
  video{
    display:inline-block;
    vertical-align:baseline;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button{
    height:auto;
  }
  
  input[type=search]::-webkit-search-cancel-button,
  input[type=search]::-webkit-search-decoration{
    -webkit-appearance:none;
    appearance: none;
  }
  .visually-hidden{
    clip:rect(0, 0, 0, 0);
    overflow:hidden;
    position:absolute;
    height:1px;
    width:1px;
  }
  body,
  button,
  input,
  select,
  textarea{
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%;
    text-rendering:optimizeSpeed;
  }
  
  body{
    font-weight:var(--typeBaseWeight);
  }
  ul{
    margin:0;

  }
  li{
    margin:0;
  }
  
  p{
    margin:0 0 15px 0
  }
  
  p img{
      margin:0;
    }
  
  em{
    font-style:italic;
  }
  
  b,
  strong{
    font-weight:700;
  }
  
  p[data-spam-detection-disclaimer],
  small{
    font-size:0.85em;
  }
  
  sub,
  sup{
    position:relative;
    font-size:60%;
    vertical-align:baseline;
  }
  
  sup{
    top:-0.5em;
  }
  
  sub{
    bottom:-0.5em;
  }
  
  
  code,pre{
    background-color:#faf7f5;
    font-family:Consolas,monospace;
    font-size:1em;
    border:0 none;
    padding:0 2px;
    color:#51ab62;
  }
  
  pre{
    overflow:auto;
    padding:15px;
    margin:0 0 30px;
  }
  a{
    text-decoration: none;
    color:#1c1d1d;
  }

  
  label{
    display:block;
    margin-bottom:10px;
  }

  img{
    border:0 none;
  }
  
  svg:not(:root){
    overflow:hidden;
  }
  
  iframe,
  img{
    max-width:100%;
  }
  
  img{
    display:block;
  }
  form{
    margin:0;
  }

legend{
    border:0;
    padding:0;
  }
  
  button,
  a,
  input[type=submit]{
    cursor:pointer;
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6{
    display:block;
    margin:0 0 10px
  }
  
  @media only screen and (min-width:769px){
  
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6{
      margin:0 0 15px
  }
    }
  
  .h1 a,
  .h2 a,
  .h3 a,
  .h4 a,
  .h5 a,
  .h6 a,
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a{
      text-decoration:none;
      font-weight:inherit;
    }
  .link{
    text-decoration: none;
    color:inherit;
    cursor:pointer;
  }
  .icon{
    width:20px;
    height:20px;
    vertical-align: middle;
  }

  .no-list{
    list-style: none;
  }
  .no-margin{
    margin:0 ;
  }
 .index-section.first__child{
    margin:0px 0px 40px;
  }
  .index-section{
    width: 100%;
    margin:40px 0px;
  }
  .index-section + .index-section{
    margin:0px 0px 40px 0px;
  }
  
  .index-section.last-child{
    margin:40px 0px 0px 0px;
  }

  .section--container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .section--row{
    display: flex;
    flex-wrap: wrap;
  }
  .full__width{
    width:100%;
  }
  .btn{
    text-decoration: none;
    border: 0;
    outline: 0;
    box-shadow: 0;
    padding:8px 12px;
  }
  .show{
    display:block;

  }
  .hide{
    display:none;
  }

  /* @media(min-width:576px){
    .section--container{
      max-width: 540px;
    }
  } */
  @media(min-width:768px){
    .section--container{
      max-width: 720px;
    }
  }
  @media(min-width:992px){
    .section--container{
      max-width: 960px;
    }
  }
  @media(min-width:1200px){
    .section--container{
      max-width: 1140px;
    }
  }
  @media(min-width:1400px){
    .section--container{
      max-width: 1200px;
    }
  }

  @media(max-width:768px){
    .index-section{
      margin:20px 0px;
    }
    .index-section + .index-section{
      margin:0px 0px 20px 0px;
    }
    .index-section.last-child{
      margin:0;
    }
  }


  .small--hide{
     display:none;
  }
  .medium--hide{
    display: block;
  }

@media(min-width:769px){
  .small--hide{
    display: block;
  }
  .medium--hide{
    display: none;
  }
  

}
 






























